* {
background:			#0a090dB3;
backgroundAdditional:			#0a090d66;
    background-alt: #00000000;
foreground:			#ffe9ef;
selected:			#9E6172;
highlight:			#9D708E;
urgent:				#4E3C5D;
on:					#5C4C69;
off:				#9E6172;
}
