* {
background:			#0a0a09B3;
backgroundSolid:			#0a0a09;
backgroundAdditional:			#0a0a0966;
    background-alt: #00000000;
foreground:			#fdfffd;
foreground-alt:			#fdfffd;
selected:			#995C38;
highlight:			#CB9D6D;
urgent:				#8F7359;
on:					#6C6559;
off:				#995C38;
}
