* {
background:			#03120BB3;
backgroundSolid:			#03120B;
backgroundAdditional:			#03120B66;
    background-alt: #00000000;
foreground:			#ffcfcb;
foreground-alt:			#ffcfcb;
selected:			#D9222E;
highlight:			#F82C38;
urgent:				#9E3245;
on:					#8F2835;
off:				#D9222E;
}
