  $bg: rgba($color: #121112, $alpha: 0.4);;
  $contrastbg: #121112;
  $bgSecondary: #121112;
  $bgCal: rgba($color: #121112, $alpha: 0.6);
  $fg: #fcffff;
  $fgDim: #fcffff;
  $watermelon: #e05f65;

  // Aliases
  $background: $bg;
  $backgroundSecondary: $bgSecondary;
  $foreground: $fg;
  $foregroundDim: $fgDim;

  $black: #242931;
  $red: #AF5F46;
  $green: #4F626A;
  $blue: #f3734b;
  $cyan: #5a8495;
  $blue-desaturated: #74bee9;
  $magenta: #c68aee;
  $purple: #c68aee;
  $aquamarine: #94f7c5;
  $yellow: #f1cf8a;
  $accent: $red;
  $javacafeMagenta: #c68aee;
  $javacafeBlue: #70a5eb;
