  $bg: rgba($color: #0a0a09, $alpha: 0.4);;
  $contrastbg: #0a0a09;
  $bgSecondary: #0a0a09;
  $bgCal: rgba($color: #0a0a09, $alpha: 0.6);
  $fg: #fdfffd;
  $fgDim: #fdfffd;
  $watermelon: #e05f65;

  // Aliases
  $background: $bg;
  $backgroundSecondary: $bgSecondary;
  $foreground: $fg;
  $foregroundDim: $fgDim;

  $black: #242931;
  $red: #995C38;
  $green: #8F7359;
  $blue: #d4743b;
  $cyan: #c89464;
  $blue-desaturated: #74bee9;
  $magenta: #c68aee;
  $purple: #c68aee;
  $aquamarine: #94f7c5;
  $yellow: #f1cf8a;
  $accent: $red;
  $javacafeMagenta: #c68aee;
  $javacafeBlue: #70a5eb;
