  $bg: rgba($color: #10171e, $alpha: 0.4);;
  $contrastbg: #10171e;
  $bgSecondary: #10171e;
  $bgCal: rgba($color: #10171e, $alpha: 0.6);
  $fg: #cefbff;
  $fgDim: #cefbff;
  $watermelon: #e05f65;

  // Aliases
  $background: $bg;
  $backgroundSecondary: $bgSecondary;
  $foreground: $fg;
  $foregroundDim: $fgDim;

  $black: #242931;
  $red: #276F9A;
  $green: #155A85;
  $blue: #2693d4;
  $cyan: #1177b7;
  $blue-desaturated: #74bee9;
  $magenta: #c68aee;
  $purple: #c68aee;
  $aquamarine: #94f7c5;
  $yellow: #f1cf8a;
  $accent: $red;
  $javacafeMagenta: #c68aee;
  $javacafeBlue: #70a5eb;
