[Desktop Entry]
Type=Application
Name=lf
Comment=Launches the lf file manager
Icon=utilities-terminal
Terminal=false
Exec=autofocus_pad st -c ranger -e lf
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
